@model Employee

<h2 class="text-danger">Are you sure?</h2>

<ul class="list-group list-group-flush">
    <li class="list-group-item">FirstName : @Model.FirstName</li>
    <li class="list-group-item">Surname : @Model.LastName</li>
    <li class="list-group-item">Address : @Model.Address</li>
    <li class="list-group-item"> Gender : @Model.Gender</li>
</ul>

<form asp-controller="Employee" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="Id" />
    <input class="btn btn-danger" type="submit" value="Delete">
    <a class="btn btn-primary" href="/employee/index">Cancel</a>


</form>